.table {
  margin-left: auto;
  margin-right: auto;
  background-color: #c8c8c8;
	border-spacing: 10px;
	border-collapse: separate;
	max-width: 400px;
  width: 100%;
  border-radius: 5px;

}

td, th {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #000000;
  padding-left: 5px;
  padding-right: 5px;
}

td {
	text-align: center;
}

th {
	text-align: left;
}

.increase::after {
  content: '\2191';
}

.decrease::after {
  content: '\2193';
}

.increase::after,
.decrease::after {
    display: inline-block;
    font-size: 10px;
    margin-left: 4px;
    vertical-align: middle;
    line-height: 0px;
    margin-bottom: 5px;
}